
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
</div>
<hr />
<div class="row mb-3">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">Đơn đặt phòng chưa xác nhận</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.BookingUnconfirmed</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">Đơn đặt phòng đến ngày nhập</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.BookingConfirmed</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shopping-cart fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New User Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">Doanh thu tháng hiện tại</div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.Sum.ToString("N0")</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-money-bill fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">Thư liên hệ chưa xử lý</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Contact</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-gradient-primary ">
            <a class="card-body btn p-3 text-white" href="/Admin/Databoard/StatisticsByYear">Xem thống kê theo năm</a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-gradient-primary ">
            <a class="card-body btn p-3 text-white" href="/Admin/Databoard/StatisticsByMonth">Xem thống kê theo tháng</a>
        </div>
    </div>
</div>
