
@{
    ViewBag.Title = "Finish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-top row m-3">
    <div class="col-5" style="text-align:right">
        <img src="~/Assets/images/4f1878459d5451e2ff7e79a0443c7a10.gif" />
    </div>
    <div class="col-7" style="margin-top:9rem;text-align:center">
        <h1 style="text-shadow: 2px 2px 2px #c2c2a3">ĐẶT PHÒNG THÀNH CÔNG</h1>
        <h3>Cảm ơn quý khách đã tin tưởng lựa chọn khách sạn của chúng tôi!</h3>
        <h4>Quý khách vui lòng chờ nhân viên gọi điện xác nhận đơn đặt phòng.</h4>
        <a class="btn btn-dark text-white" href="/">Trang chủ</a>
    </div>
</div>

